           body{
               background-color: #ffefce;
               }
           h1{
              float: left;
              font-size:20pt;
              margin:10px;
              }
           h3{
              text-align:left;
              font-family:arial;
              margin-top:10px;
             }
          button.home{
                 float:right;
                 margin-right: 250px;
                 padding: 12px 14px;
                 background-color: red;
                 color:white;
                 text-decoration: none;
                }
          button.abt{
                 float:right;
                 margin-right: 5px;
                 padding: 12px 14px;
                 background-color: red;
                 color:white;
                 text-decoration: none;
                 }
          button.con{
                 float:right;
                 margin-right: 250px;
                 margin-left: 98px;
                 margin-top: 5px;
                 padding: 12px 14px;
                 background-color: red;
                 color:white;
                 text-decoration: none;
                 }
          button.home a{
                            color:white;
                  text-decoration: none;
                           }
          button.abt a{
                            color:white;
                  text-decoration: none;
                           }
          button.con a{
                            color:white;
                  text-decoration: none;
                           }
          div.page{
                  background-color:white;
                  margin-top: 130px;
                  text-align: left;
                  line-height:1;
                  width:100%;
                  border:1;
                 }